.color-js {
    background-color: #F1D079;
}

.color-java {
    background-color: #CF3E50;
}

.color-php {
    background-color: #8A93BC;
}

.color-dotnet{
    background-color: #5C2773;
}

.color-qa {
    background-color: #70BC7E;
}

.color-events {
    background-color: #4D99F7;
}

.color-blog {
    background-color: #18449D;
}

.color-content {
    background-color: #09265B;
}