.content {
    min-width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

    grid-template-areas: "logo js php php"
                            "logo js dotnet events"
                            "qa js dotnet events"
                            "qa js dotnet blog"
                            "qa java dotnet blog"
                            "qa java dotnet contacts";
}

.logo {
    grid-area: logo;
}

.js {
    grid-area: js;
}

.php {
    grid-area: php;
}

.dotnet {
    grid-area: dotnet;
}

.java {
    grid-area: java;
}

.qa {
    grid-area: qa;
}

.events {
    grid-area: events;
}

.blog {
    grid-area: blog;
}

.contacts {
    grid-area: contacts;
}

.content__card {
    /* box-sizing: border-box;
    border: 2px solid black; */
    position: relative;
    overflow: hidden;
}

.content__card:hover {
    overflow: auto;
}

.content__cover {
    height: 100%;
    position: relative;
    z-index: 1;
}

.content__cover:hover {
    opacity: 0;
}

.content__content {
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
}

@media (max-width: 1000px) {
    .content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo js js events"
                            "logo js js blog"
                            "logo js js contacts"
                            "java java php php"
                            "qa qa dotnet dotnet";
    }
}