.title {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    background-color: #fff;
    animation: title_move 3s 1 linear forwards;
}

.title__img {
    height: 100%;
}

@keyframes title_move{
    from {top: -50px;}
    to{
        top: 0;
        position: sticky;
    }
}